/* ======= FOOTER BASE ======= */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
}

/* ======= CONTENEDOR FLEX ======= */
.footer-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  text-align: left;
  width: 100%;
}

/* ======= LOGO ======= */
.footer-logo-link {
  display: flex;
  max-height: 60px;
}

.footer-image {
  width: 7vw;
  max-width: 100%;
  height: auto;
  margin: 20% 10%;
  object-fit: contain;
}

.footer-image._2 {
  width: 6vw;
  margin: 10% 0;
}

/* ======= LINKS ======= */
.footer-link {
  color: #161616;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
  font-size: clamp(12px, 0.9vw, 16px);
  letter-spacing: clamp(0.5px, 0.1vw, 1px);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* ======= FOOTER DENTRO DEL CARRITO ======= */
.cart-footer {
  position: static;
}

/* ======= RESPONSIVE ======= */
@media (max-width: 767px) {
  .footer-image {
    object-fit: contain;
  }
}

@media (max-width: 479px) {
  .footer {
    padding-inline: 20px;
    text-align: left;
    font-size: 0.7rem;
  }

  .footer-flex-container {
    padding-inline: 0;
  }

  .footer-image {
    width: auto;
    max-width: 30%;
    margin: 10% auto;
  }

  .footer-image._2 {
    max-width: 25%;
  }
}
