.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-align: left;
  letter-spacing: clamp(0.5px, 0.1vw, 1px);
}

.footer-flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  text-align: left;
}

.footer-logo-link {
  display: flex;
  max-height: 60px;
}

.footer-image {
  width: clamp(40px, 7vw, 90px);
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.footer-image._2 {
  width: clamp(35px, 6vw, 80px);
}

.footer-p {
  margin-bottom: 5px;
}

.footer-link {
  color: #161616;
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  font-size: clamp(12px, 1vw, 16px);
  letter-spacing: clamp(0.5px, 0.2vw, 1px);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.cart-footer {
  position: static;
}

@media (max-width: 767px) {
  .footer-image {
    object-fit: contain;
  }
}

@media (max-width: 479px) {
  .footer-flex-container {
    padding-inline: 0;
  }

  .footer-image {
    width: auto;
    max-width: 30%;
    margin: 10% auto;
  }

  .footer-image._2 {
    max-width: 25%;
  }
}
