.footer {
  width: 100%;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  font-size: 0.9vw;
  text-align: center;
  letter-spacing: 1px;
}

.footer-flex-container {
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.footer-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 60px;
  min-width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 7vw;
  height: auto;
  max-width: 100%;
  margin: 20% 10%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-image._2 {
  width: 6vw;
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer-link {
  color: 161616;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
  font-size: clamp(12px, 0.9vw, 16px);
  letter-spacing: clamp(0.5px, 0.1vw, 1px);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.cart-footer {
  position: static;
  left: 30%;
  top: auto;
  right: 30%;
  bottom: 15%;
}

@media screen and (max-width: 767px) {
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    width: auto;
    padding-right: 0%;
    padding-left: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-image {
    display: block;
    width: auto;
    max-width: 30%;
  }

  .footer-image._2 {
    width: auto;
    max-width: 25%;
  }
}
