.section-cgv {
  width: 100%;
  padding: clamp(4rem, 10vw, 10rem) clamp(2rem, 8vw, 8rem) 1%;
  background-color: #FCFAF6;
}

.policy-div {
  font-family: Hatton, Arial, sans-serif;
  font-size: clamp(0.9rem, 1.1vw, 1.1rem);
  line-height: clamp(2rem, 4vh, 4vh);
  text-align: justify;
  letter-spacing: clamp(0.05rem, 0.1vw, 0.1vw);
}

.main-policy-title {
  margin-bottom: 5%;
  font-family: Hatton, Arial, sans-serif;
  color: #272727;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: clamp(3rem, 8vh, 8vh);
  font-weight: 400;
  text-align: center;
  letter-spacing: clamp(0.1rem, 0.3vw, 0.3vw);
}

.terms-title {
  font-size: clamp(0.8rem, 1.6vw, 1.6rem);
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: left;
}

.terms-text {
  font-family: Lato, sans-serif;
  font-size: clamp(1rem, 1.3vw, 1.15rem);
  margin-bottom: 1rem;
  font-weight: 300;
}

.terms-list {
  padding-left: 1.4rem;
  margin-bottom: 1.5rem;
}

.terms-list li {
  font-family: Lato, sans-serif;
  font-size: clamp(1rem, 1.3vw, 1.15rem);
  margin-bottom: 0.5rem;
}

.terms a {
  color: #444;
  text-decoration: underline;
}

