<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Checkout · 100Puntadas</title>

	<link rel="stylesheet" href="/css/checkout.css" />
</head>

<body>
	<header class="checkout-header">
		<a href="/" class="checkout-brand">
			<img class="logo-img" src="/images/logo.png" alt="logo">
		</a>

		<nav class="checkout-steps">
			<div class="step active">
				<span class="step-index">1</span>
				<span class="step-label">Entrega</span>
			</div>

			<div class="step">
				<span class="step-index2">2</span>
				<span class="step-label">Pago</span>
			</div>

			<div class="step">
				<span class="step-index2">3</span>
				<span class="step-label">Confirmación</span>
			</div>
		</nav>
	</header>

	<!-- MAIN -->
	<main class="checkout-wrapper">

		<section class="checkout-left">

			<!-- CONTACTO -->
			<div class="card m-bottom">
				<h2>Información de contacto</h2>

				<div class="row">
					<div class="field">
						<label class="checkout-label" for="email">Correo electrónico<span
								class="checkout-span">*</span></label>
						<input class="input" name="email" id="email" type="email" placeholder="Correo electrónico"
							required />
						<small class="error-msg"></small>
					</div>

					<div class="field">
						<label class="checkout-label" for="phone">Número de teléfono<span
								class="checkout-span">*</span></label>
						<input class="input" name="phone" id="phone" type="tel" inputmode="numeric"
							placeholder="Teléfono de contacto" required />
						<small class="error-msg"></small>
					</div>
				</div>
			</div>

			<!-- SHIPPING -->
			<div class="card">
				<h2>Dirección de entrega</h2>

				<div class="row">
					<div class="field">
						<label class="checkout-label" for="full_name">Nombre completo<span
								class="checkout-span">*</span></label>
						<input class="input" name="full_name" id="full_name" placeholder="Nombre completo" required />
						<small class="error-msg"></small>
					</div>

					<div class="field">
						<label class="checkout-label" for="national_id">Cédula de identificación<span
								class="checkout-span">*</span></label>
						<input class="input" name="national_id" id="national_id" placeholder="Cédula de identificación"
							required maxlength="11" />
						<small class="error-msg"></small>
					</div>
				</div>

				<div class="row">

					<div class="field">
						<label class="checkout-label" for="province">Provincia<span
								class="checkout-span">*</span></label>
						<select class="input" name="province" id="province" required>
							<option value="">Provincia</option>
						</select>
						<small class="error-msg"></small>
					</div>

					<div class="field">
						<label class="checkout-label" for="canton">Cantón<span class="checkout-span">*</span></label>
						<select class="input" name="canton" id="canton" required disabled>
							<option value="">Cantón</option>
						</select>
						<small class="error-msg"></small>
					</div>

				</div>

				<div class="row">

					<div class="field">
						<label class="checkout-label" for="district">Distrito<span
								class="checkout-span">*</span></label>
						<select class="input" name="district" id="district" required disabled>
							<option value="">Distrito</option>
						</select>
						<small class="error-msg"></small>
					</div>

					<div class="field">
						<label class="checkout-label" for="neighborhood">Barrio<span
								class="checkout-span">*</span></label>
						<input class="input" name="neighborhood" id="neighborhood" placeholder="Barrio o comunidad"
							required />
						<small class="error-msg"></small>
					</div>

				</div>

				<div class="field">
					<label class="checkout-label" for="address">Dirección<span class="checkout-span">*</span></label>
					<input class="input" name="address" id="address" placeholder="Dirección" required />
					<small class="error-msg"></small>
				</div>

				<div class="field">
					<label class="checkout-label" for="address_details">Indicaciones adicionales</label>
					<textarea class="input textarea" name="address_details" id="address_details"
						placeholder="Información adicional del domicilio"></textarea>
				</div>
			</div>
		</section>

		<!-- RIGHT -->
		<aside class="checkout-right">

			<div class="card">
				<h2>Tipo de envío</h2>

				<div class="field radio-field">
					<label class="radio-option">
						<input type="radio" name="shipping_type" value="correos" checked>
						<span>
							Correos de Costa Rica:
							<small><b>₡2.500</b></small>
						</span>
					</label>

					<label class="radio-option">
						<input type="radio" name="shipping_type" value="store">
						<span>
							Recoger en tienda
							<small>L–V 11am–7pm · Sáb 11am–6pm</small>
						</span>
					</label>
				</div>

			</div>


			<div class="summary-card">
				<h3>Resumen del pedido</h3>

				<div class="order-products"></div>

				<div class="totals-row discount-row" id="discountRow" style="display:none;">
					<span>Descuento (15% x 2 prendas)</span>
					<span class="red-discount">− ₡<span id="cartDiscount">0</span></span>
				</div>

				<div id="shippingRow" class="totals-row">
					<span>Envío</span>
					<span>₡<span id="shippingCost">0</span></span>
				</div>

				<div class="totals-row total">
					<span>Total</span>
					<span class="order-total">₡0</span>
				</div>


				<div class="payment-div">
					<h2>Método de pago</h2>

					<div class="field radio-field">
						<label class="radio-option">
							<input type="radio" name="payment_method" value="sinpe" required>
							<span>SINPE Móvil</span>
						</label>

						<label class="radio-option">
							<input type="radio" name="payment_method" value="card">
							<span>Tarjeta de crédito o débito</span>
						</label>
					</div>
				</div>


				<button id="checkout-btn" class="cta">Continuar al pago</button>
			</div>

			<!-- TRUST -->
			<div class="trust-div">

				<div class="trust-item">
					<img class="trust-img" src="/images/turst-1.webp">
					<span>Pago 100% seguro</span>
				</div>

				<div class="trust-item">
					<img class="trust-img" src="/images/turst-2.webp">
					<span>Entrega confiable</span>
				</div>

				<div class="trust-item">
					<img class="trust-img" src="/images/turst-3.webp">
					<span>Soporte técnico</span>
				</div>
			</div>
		</aside>
	</main>


	<script src="/js/checkout.js"></script>
</body>

</html>