<div>
    <!-- HEADER -->
    <div class="header no-cursor-zone">
        <div class="logo-container">
            <a href="/" aria-current="page" class="w-inline-block w--current">
                <img src="/images/logo.png" loading="lazy" alt="logo 100Puntadas" class="main-logo" />
            </a>
        </div>

        <div class="nav-links">
            <a href="#bikinis" class="nav-link">Bikinis</a>
            <a href="#jumpsuits" class="nav-link">Enterizos</a>
            <a href="#sets" class="nav-link">Vestidos</a>
            <a href="/pages/sizes.html" class="nav-link">Tallas</a>
        </div>

        <button class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div class="mobile-menu no-cursor-zone" id="mobileMenu">

        <button class="close-button" id="closeMenuBtn">
            <span></span>
            <span></span>
        </button>

        <a href="/" class="mobile-link">Inicio</a>
        <a href="#bikinis" class="mobile-link">Bikinis</a>
        <a href="#jumpsuits" class="mobile-link">Enterizos</a>
        <a href="#sets" class="mobile-link">Vestidos</a>
        <a href="/pages/sizes.html" class="mobile-link">Tallas</a>
    </div>


    <!--  MAIN  -->

    <div id="smooth-wrapper" class="smooth-wrapper">
        <div id="smooth-content" class="page-wrapper overflow-none">

            <section class="bk-shop border-top">
                <div id="smooth-content" class="page-wrapper overflow-none">
                    <div class="collection">
                        <h2 class="maintitle-div">
                            <p class="maintitle-text">Crochet Hecho a Mano</p>
                            <p class="maintitle-text">para tu Estilo de Verano</p>
                        </h2>

                        <div id="bikinis" class="collection-bikinis w-dyn-list">
                            <div id="bikinis-list" class="collection-list-shirts w-dyn-items">
                                <!-- DINAMIC CONTENT -->
                            </div>
                        </div>

                        <div id="jumpsuits" class="collection-jumpsuits w-dyn-list">
                            <div id="lista-jumpsuits" class="collection-list-jean w-dyn-items">
                                <!-- DINAMIC CONTENT -->
                            </div>
                        </div>

                        <div id="sets" class="collection-sets w-dyn-list">
                            <div id="lista-productos" class="collection-list-sacs w-dyn-items">
                                <!-- DINAMIC CONTENT -->
                            </div>
                        </div>
                    </div>
            </section>

            <footer class="footer-anim-wrapper no-cursor-zone">
                <div class="footer bk-color-black scroll-reference pointer-auto">
                    <div class="page-padding">
                        <div class="padding-top-bottom-l padding-footer less-padding-top-mobile">
                            <div class="content-wrapper">
                                <div class="grid-2columns-50-50 in-footer footer-grid">
                                    <div id="w-node-d68bd2ec-256a-d794-fd35-ba997990bd81-40af2fd3">
                                        <p class="footer-p">DIRECCIÓN: SAN RAMÓN, ALAJUELA</p>
                                        <p class="footer-p">COSTA RICA.</p>
                                        <p class="footer-p margin-t">© 100PUNTADAS, 2025</p>
                                    </div>
                                    <div id="w-node-_8efb8465-6605-e5eb-0a90-c721986f75c2-bc0db844"
                                        class="text-align-right">
                                        <p class="footer-p">
                                            <a href="/pages/policy.html" class="link">
                                                CONDICIONES DE VENTA
                                            </a>
                                        </p>
                                        <!-- <p class="footer-p">
                                        <a href="#" class="link">
                                            100PUNTADAS<span class="in-line">@</span>GMAIL.COM
                                        </a>
                                    </p> -->
                                        <div class="social-icons-wrapper">
                                            <p>SIGUENOS EN:</p>
                                            <a href="https://www.instagram.com/100puntadas_au?igsh=czZrYzJhampnMjVl"
                                                target="_blank" class="link w-inline-block">
                                                <img src="/images/insta.svg" loading="lazy"
                                                    id="w-node-d68bd2ec-256a-d794-fd35-ba997990bd8e-40af2fd3" alt=""
                                                    class="social-icon" />
                                            </a>
                                            <a href="https://www.pinterest.com/100Puntadas/?invite_code=2211715059af433bb26a09e07743d2e9&sender=663366357521380688"
                                                target="_blank" class="link w-inline-block">
                                                <img src="/images/pinterest.svg" loading="lazy"
                                                    id="w-node-d68bd2ec-256a-d794-fd35-ba997990bd90-40af2fd3" alt=""
                                                    class="social-icon" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div href="#" class="logo-footer-wrapper in-footer w-inline-block">
                                    <img src="/images/footer-logo.webp" loading="lazy" alt="Footer logo"
                                        class="image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <footer class="footer-wrapper no-cursor-zone">
        <div class="footer bk-color-black footer-anim">
            <div class="page-padding">
                <div class="padding-top-bottom-l padding-footer less-padding-top-mobile">
                    <div class="content-wrapper">
                        <div class="grid-2columns-50-50 in-footer footer-grid">
                            <div id="w-node-d68bd2ec-256a-d794-fd35-ba997990bd81-40af2fd3">
                                <p class="footer-p">DIRECCIÓN: SAN RAMÓN, ALAJUELA</p>
                                <p class="footer-p">COSTA RICA.</p>
                                <p class="footer-p margin-t">© 100PUNTADAS, 2025</p>
                            </div>
                            <div id="w-node-d68bd2ec-256a-d794-fd35-ba997990bd89-40af2fd3" class="text-align-right">
                                <p class="footer-p">
                                    <a href="/pages/policy.html" class="link">
                                        CONDICIONES DE VENTA
                                    </a>
                                </p>
                                <!-- <p class="footer-p">
                                        <a href="#" class="link">
                                            100PUNTADAS<span class="in-line">@</span>GMAIL.COM
                                        </a>
                                    </p> -->
                                <div class="social-icons-wrapper">
                                    <p>SIGUENOS EN:</p>
                                    <a href="https://www.instagram.com/100puntadas_au?igsh=czZrYzJhampnMjVl"
                                        target="_blank" class="link w-inline-block">
                                        <img src="/images/insta.svg" loading="lazy"
                                            id="w-node-d68bd2ec-256a-d794-fd35-ba997990bd8e-40af2fd3" alt=""
                                            class="social-icon" />
                                    </a>
                                    <a href="https://www.pinterest.com/100Puntadas/?invite_code=2211715059af433bb26a09e07743d2e9&sender=663366357521380688"
                                        target="_blank" class="link w-inline-block">
                                        <img src="/images/pinterest.svg" loading="lazy"
                                            id="w-node-d68bd2ec-256a-d794-fd35-ba997990bd90-40af2fd3" alt=""
                                            class="social-icon" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div href="#" class="logo-footer-wrapper in-footer w-inline-block">
                            <img src="/images/footer-logo.webp" loading="lazy" alt="" class="image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<div class="cursor">
    <img src="/images/buy-btn.png" loading="lazy" alt="A cute cursor made of a shirt button" class="image-btn" />
</div>