<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago</title>
    <link href="/css/onvo-pay.css" rel="stylesheet" type="text/css" />
</head>

<body class="onvo-body">
    <div class="onvo-wrapper">
        <div class="onvo-heading-div">
            <h1 class="onvo-heading">Realiza tu pago</h1>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // 🔓 Permitir nuevos pagos después de llegar correctamente a payment
            sessionStorage.removeItem("order_completed");
        });

    </script>
</body>

</html>