<div>
    <%- include("partials/header", { isHome: false, noCursorZone: false }) %>

        <div id="smooth-wrapper" class="smooth-wrapper">
            <div id="smooth-content" class="page-wrapper overflow-none">

                <section class="policy-section">
                    <h2 class="maintitle-div">
                        <p class="maintitle-text">CONDICIONES DE</p>
                        <p class="maintitle-text">VENTA</p>
                    </h2>

                    <div class="policy-div">
                        <h2 class="terms-title">Política de cambio y retorno</h2>
                        <ul class="terms-list">
                            <li class="terms-item">Aceptamos cambios por talla</li>
                            <li class="terms-item">No aceptamos cambios por cambio de opinión</li>
                            <li class="terms-item">No aceptamos cambios ni devoluciones por prendas en descuento</li>
                            <li class="terms-item">Cualquier problema con la prenda debe ser notificado lo antes posible
                            </li>
                            <li class="terms-item">Al hacer una devolución, la prenda debe estar en la condición
                                original
                                que
                                fue
                                enviada</li>
                            <li class="terms-item">El comprador es responsable de cubrir costos de envío por cambios de
                                talla
                            </li>
                        </ul>


                        <h2 class="terms-title">Envíos</h2>
                        <p class="terms-text">
                            Envíos rápidos y seguros por medio de correos de Costa Rica.
                        </p>
                    </div>
                </section>