<%- include("partials/header", { isHome: false, noCursorZone: false }) %>

    <!-- MODAL -->
    <div id="window-send-suggestion" class="sizechart-modal-window">
        <div class="sizechart-modal">
            <button class="close-modal-btn" onclick="closeSizeChart()">✕</button>

            <h2>Guía de Tallas</h2>
            <img src="/images/size-chart.jpg" alt="Size Chart">
        </div>
    </div>

    <!-- PRODUCTS -->
    <div id="smooth-wrapper" class="smooth-wrapper">
        <div id="smooth-content" class="page-wrapper overflow-none">

            <section class="bk-shop">
                <div class="page-view">
                    <div class="padding-top-bottom-l no-bottom">
                        <div class="content-wrapper">
                            <!-- PRODUCT PAGE -->
                            <div class="grid-split-screen is-shop shop-swiper" id="product-page">

                                <!-- IMAGES -->
                                <div class="shop-imgs-product-wrap swiper-wrapper" id="productImages">
                                    <!-- JS injects slides -->
                                </div>

                                <div class="swiper-pagination-wrap">
                                    <div class="swiper-pagination"></div>
                                </div>

                                <!-- INFO -->
                                <div class="div-block-18">
                                    <div class="shop-item-infos-wrap">
                                        <div class="product-topdiv">
                                            <div class="product-title-wrap">
                                                <h2 id="productName" class="text-style-h3 is-title">
                                                    <!-- DINAMIC CONTENT -->
                                                </h2>
                                                <div class="prices-wrap is-product">
                                                    <p id="productPrice" class="text-color-neutral-2">
                                                        <!-- DINAMIC CONTENT -->
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="product-desc-wrap is-top">
                                                <p id="productDescription" class="financier"><!-- DINAMIC CONTENT -->
                                                </p>
                                                <br>
                                                <br>
                                                <p id="productDescription2" class="financier"><!-- DINAMIC CONTENT -->
                                                </p>
                                            </div>
                                        </div>

                                        <!-- SIZE CHART -->
                                        <div class="mini-sizeChart-div">
                                            <button id="btn-sizeChart" class="mini-sizeChart-btn"
                                                onclick="openSizeChart()">
                                                Tallas
                                            </button>
                                        </div>

                                        <!-- OPTIONS -->
                                        <div class="add-cart-btn-wrap">
                                            <form id="productForm" class="add-to-cart">
                                                <!-- TOP -->
                                                <div class="size-container">
                                                    <span>TOP</span>
                                                    <div class="size-btn-div" id="topSizes"><!-- DINAMIC CONTENT -->
                                                    </div>
                                                </div>

                                                <!-- BOTTOM -->
                                                <div class="size-container">
                                                    <span>BOTTOM</span>
                                                    <div class="size-btn-div" id="bottomSizes"><!-- DINAMIC CONTENT -->
                                                    </div>
                                                </div>

                                                <!-- STYLE -->
                                                <div class="size-container">
                                                    <span>COBERTURA</span>
                                                    <div class="style-div" id="bottomStyles"><!-- DINAMIC CONTENT -->
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <!-- BUTTONS -->
                                        <div class="btns-wrapper">
                                            <button id="buyNowBtn" class="add-cart-btn">Comprar ahora</button>
                                            <button id="addToCartBtn" class="add-cart-btn">Agregar ahora</button>
                                        </div>


                                        <section class="accordion-section">
                                            <!-- ITEM 1 -->
                                            <div class="accordion-item">
                                                <button class="accordion-header">
                                                    <span>Lo Que necesitas saber</span>
                                                    <svg class="accordion-icon" width="20" height="20"
                                                        viewBox="0 0 20 20">
                                                        <path d="M5 7l5 5 5-5" stroke="#000" stroke-width="2"
                                                            fill="none" stroke-linecap="round" />
                                                    </svg>
                                                </button>
                                                <div class="accordion-content">
                                                    <ul class="acordion-p features-list">
                                                        <li class="features-item">Precio incluye las dos piezas: Top y
                                                            bottom (las puedes combinar).</li>
                                                        <li class="features-item">Posee bandas elásticas que se ajustan
                                                            a tu figura.</li>
                                                        <li class="features-item">Incluye forro.</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <!-- ITEM 2 -->
                                            <div class="accordion-item">
                                                <button class="accordion-header">
                                                    <span>Instrucciones de cuidado</span>
                                                    <svg class="accordion-icon" width="20" height="20"
                                                        viewBox="0 0 20 20">
                                                        <path d="M5 7l5 5 5-5" stroke="#000" stroke-width="2"
                                                            fill="none" stroke-linecap="round" />
                                                    </svg>
                                                </button>
                                                <div class="accordion-content">
                                                    <ul class="acordion-p features-list">
                                                        <li class="features-item">Lavado a mano.</li>
                                                        <li class="features-item">No meter en lavadora ni secadora.</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <!-- ITEM 3 -->
                                            <div class="accordion-item">
                                                <button class="accordion-header">
                                                    <span>Envíos</span>
                                                    <svg class="accordion-icon" width="20" height="20"
                                                        viewBox="0 0 20 20">
                                                        <path d="M5 7l5 5 5-5" stroke="#000" stroke-width="2"
                                                            fill="none" stroke-linecap="round" />
                                                    </svg>
                                                </button>
                                                <div class="accordion-content">
                                                    <p class="acordion-p">Envíos rápidos y seguros por medio de correos
                                                        de Costa Rica.</p>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="bk-shop border-top">
                <div class="page-view">
                    <div class="related-div">
                        <div class="content-wrapper">
                            <div class="margin-top-s">
                                <h3>PRODUCTOS RELACIONADOS</h3>
                            </div>
                            <div class="margin-top-s">
                                <div class="coll-list-wrapper w-dyn-list">
                                    <div id="macy-container" role="list" class="store-coll-list w-dyn-items">
                                        <!-- DINAMIC CONTENT -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <script>
                window.PRODUCT_SLUG = "<%= slug %>";
            </script>

            <script src="/js/product-view.js" type="text/javascript"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

            <script src="/js/accordion.js" type="text/javascript"></script>
            <script src="/js/related.js" type="text/javascript"></script>
            <script src="/js/slider.js" type="text/javascript"></script>
            <script src="/js/products.js" type="text/javascript"></script>

            <script src="/gsap/gsap.min.js" type="text/javascript"></script>
            <script src="/gsap/Flip.min.js" type="text/javascript"></script>
            <script src="/gsap/CustomEase.min.js" type="text/javascript"></script>
            <script src="/js/modal.js" type="text/javascript"></script>