<div>
    <%- include("partials/header", { isHome: false, noCursorZone: false }) %>

        <div id="smooth-wrapper" class="smooth-wrapper">
            <div id="smooth-content" class="page-wrapper overflow-none">

                <div class="sizechart-section">
                    <section class="sizechart-div">
                        <h2 class="sizechart-title">TABLA DE MEDIDAS</h2>

                        <div class="sizechart-table">
                            <div class="sizechart-row sizechart-row--head">
                                <div class="sizechart-headcell">
                                    <span>Talla</span>
                                    <span>letra</span>
                                </div>

                                <div class="sizechart-headcell">
                                    <span>Talla Numérica</span>
                                    <span>(US)</span>
                                </div>

                                <span class="sizechart-headsingle">Cintura</span>

                                <span class="sizechart-headsingle">Cadera</span>

                                <div class="sizechart-headcell">
                                    <span>Busto</span>
                                    <span>(Copa)</span>
                                </div>
                            </div>

                            <div class="sizechart-row">
                                <span data-label="Talla letra">XS</span>
                                <span data-label="Talla Numérica (US)">0–2</span>
                                <span data-label="Cintura">62–66 cm</span>
                                <span data-label="Cadera">87–91 cm</span>
                                <span data-label="Busto (Copa)">Copa A</span>
                            </div>

                            <div class="sizechart-row">
                                <span data-label="Talla letra">S</span>
                                <span data-label="Talla Numérica (US)">4–6</span>
                                <span data-label="Cintura">67–71 cm</span>
                                <span data-label="Cadera">92–97 cm</span>
                                <span data-label="Busto (Copa)">Copa B</span>
                            </div>

                            <div class="sizechart-row">
                                <span data-label="Talla letra">M</span>
                                <span data-label="Talla Numérica (US)">8–10</span>
                                <span data-label="Cintura">72–76 cm</span>
                                <span data-label="Cadera">98–102 cm</span>
                                <span data-label="Busto (Copa)">Copa C</span>
                            </div>

                            <div class="sizechart-row">
                                <span data-label="Talla letra">L</span>
                                <span data-label="Talla Numérica (US)">12–14</span>
                                <span data-label="Cintura">77–84 cm</span>
                                <span data-label="Cadera">103–109 cm</span>
                                <span data-label="Busto (Copa)">Copa C/D</span>
                            </div>

                        </div>

                        <div class="sizechart-guides">
                            <div class="sizechart-guide">
                                <div class="sizechart-div">
                                    <h3 class="sizechart-subtitle">¿cómo medirte?</h3>

                                    <p class="sizechart-note">
                                        Para una medición precisa, coloca la cinta alrededor de tu cuerpo sin apretar.
                                    </p>

                                    <ul>
                                        <li>
                                            <p class="sizechart-note">1. La medida de la cintura únicamente es necesaria
                                                para
                                                enterizos.</p>
                                        </li>
                                        <li>
                                            <p class="sizechart-note">2. Para bikinis de dos piezas, toma la media de la
                                                cadera en
                                                la parte media de los glúteos.</p>
                                        </li>
                                    </ul>
                                </div>

                                <img src="/images/sizeChart/hip-size.webp" alt="Guía de medidas corporales"
                                    class="sizechart-image">
                            </div>
                            <div class="sizechart-guide">
                                <div class="sizechart-div">
                                    <h3 class="sizechart-subtitle">Tipos de copa</h3>

                                    <p class="sizechart-note">
                                        Utiliza estas referencias como guía para determinar tu talla de top.
                                    </p>
                                </div>

                                <img src="/images/sizeChart/copa-size.webp" alt="Guía de estilos de copa"
                                    class="sizechart-image">
                            </div>
                            <div class="sizechart-guide">
                                <div class="sizechart-div">
                                    <h3 class="sizechart-subtitle">Tipos de cobertura</h3>

                                    <p class="sizechart-note">
                                        Elige la cobertura que desees según tu preferencia: Hilo o regular.
                                    </p>
                                </div>

                                <img src="/images/sizeChart/bottom-style.webp" alt="Guía de estilos de parte de abajo"
                                    class="sizechart-image">
                            </div>
                        </div>
                    </section>
                </div>