.accordion-section {
  width: 100%;
  max-width: 600px;
  margin: 6rem auto 0;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.features-list {
  margin: 0;
  padding-left: 20px;
  list-style-type:circle;
}

.features-item {
  margin-bottom: 6px;
  line-height: 1.45;
  color: #444;
  font-size: clamp(1rem, 1vw, 1.15rem);
}

.accordion-header {
  width: 100%;
  display: flex;
  background: none;
  border: none;
  padding: 15px 15px 13px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
}

.accordion-icon {
  transition: transform 0.3s ease;
}

.accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}

.accordion-content {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.acordion-p {
  font-family: Lato, sans-serif;
  text-align: left;
  padding-bottom: 10px;
  line-height: 1.4;
  color: #444;
  font-size: clamp(1rem, 1vw, 1.15rem);
}
