.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.7rem, 1vw, 1rem);
  text-align: left;
  letter-spacing: clamp(0.5px, 0.1vw, 1px);
}

.footer-flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  text-align: left;
}

.footer-logo-link {
  display: flex;
  max-height: 60px;
}

.footer-image {
  width: clamp(40px, 7vw, 90px);
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.footer-image._2 {
  width: clamp(35px, 6vw, 80px);
}

.left-p-div {
  width: 100%;
  margin-bottom: 12px;
}

.p-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  gap: 14px;
}

.footer-p {
  margin: 0 0 20px;
  line-height: 1.1;
}

.shipping-p-div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 2px;
}

.logo-correos-div {
  width: 120px;
  padding: 10px;
  margin-top: -2rem;
}

.correos-logo {
  width: 100%;
  display: block;
}

.footer-link {
  color: #161616;
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  font-size: clamp(12px, 1vw, 16px);
  letter-spacing: clamp(0.5px, 0.2vw, 1px);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.cart-footer {
  position: static;
}

.payment-icons-div {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.pay-icon {
  width: 40px;
  height: 40px;
  margin: 0 3px;
}

.pay-icon img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 767px) {
  .footer-image {
    object-fit: contain;
  }
}

@media (max-width: 479px) {
  .footer-flex-container {
    padding-inline: 0;
  }

  .footer-image {
    width: auto;
    max-width: 30%;
    margin: 10% auto;
  }

  .footer-image._2 {
    max-width: 25%;
  }
}
