.onvo-body {
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 2rem;
}

.onvo-wrapper {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 0 1.5rem 1.5rem;
}

.onvo-heading-div {
  width: 100%;
  padding: 1rem 0;
}

.onvo-heading {
  font-family: Hatton, Arial, sans-serif;
  font-size: 2rem;
  color: #333;
  margin: 0;
  text-align: center;
}

.onvo-checkout-container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .onvo-body {
    padding: 2rem 0;
  }

  .onvo-wrapper {
    margin-right: 0;
  }

  .onvo-checkout-container {
    width: 98%;
  }

  .onvo-heading-div {
    border-bottom: 1px solid #d8d9da;
  }

  .onvo-heading {
    font-size: 1.5rem;
  }
}
