.onvo-body {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
}

/* Título de la página */
.onvo-heading {
  font-family: Hatton, Arial, sans-serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

/* Contenedor del checkout de OnvoPay */
.onvo-checkout-container {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  padding: 1.5rem;
  /* border-radius: 10px;
  border: 1px solid #999; */
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 500px) {
  .onvo-checkout-container {
    width: 100%;
    padding: 1rem;
  }
  .onvo-heading {
    font-size: 1.5rem;
  }
}
