.testimonials-section {
  overflow: hidden;
  padding: 8rem 5rem 7rem;
}

.testimonials-container {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.testimonials-div {
  width: 100%;
  position: relative;
  padding-top: 26rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.circle-wrap {
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}

.header-wrap {
  width: 22rem;
  position: relative;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  z-index: 10;
}

.testimonials-heading {
  font-size: clamp(1.3rem, 2.5vw, 2.3rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonials-text {
  font-family: Lato, sans-serif;
  line-height: 20px;
  font-size: 1rem;
}

.circle-small {
  width: 45rem;
  height: 45rem;
  margin-top: -2px;
  position: absolute;
  inset: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1000px;
  border: 1px dashed #aaa;
  z-index: 2;
}

.circle-large {
  width: 75rem;
  height: 75rem;
  position: absolute;
  inset: auto;
  pointer-events: none;
  border-radius: 1500px;
  border: 1px dashed #ccc;
  z-index: 1;
}

.profile-wrap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
}

.profile-wrap.is-1 {
  top: -6.2rem;
}

.profile-wrap.is-2 {
  top: 18rem;
  left: -3rem;
}

.profile-wrap.is-3 {
  top: 7rem;
  left: auto;
  right: -1rem;
}

.profile-wrap.is-5 {
  top: 15rem;
  left: auto;
  right: 2.6rem;
}

.profile-wrap.is-6 {
  top: 21rem;
  left: -5px;
  right: auto;
}

.doti_bg.is-1 {
  width: 6vw;
  height: 6vw;
  inset: auto 6.5% 27% auto;
}

.doti_bg.is-2 {
  width: 1.5vw;
  height: 1.5vw;
  inset: 30% 4% auto auto;
}

.doti_bg.is-3 {
  width: 4vw;
  height: 4vw;
  inset: 12% 30% auto auto;
}

.tooltip-wrap {
  color: #161616;
  text-align: center;
  background-color: #ffa4db;
  border-radius: 12px;
  justify-content: center;
  align-items: flex-end;
  padding: 8px 12px 10px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  position: relative;
}

.tooltip-text {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin-bottom: 0;
}

.arrow-wrap {
  width: 16px;
  height: 18px;
  position: absolute;
  bottom: -10px;
}

.code-embed {
  position: absolute;
  top: -1px;
}

.testimonial-img {
  width: 6rem;
  height: 6rem;
  min-width: 6rem;
  min-height: 6rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #e5e7eb;
}

.marquee-track {
  position: absolute;
  top: -1rem;
  white-space: wrap;
  will-change: transform;
  animation: marquee-horizontal 60s linear infinite;
}

@keyframes marquee-horizontal {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 992px) {
  .marquee-track:hover {
    animation-play-state: paused;
  }
}

.marquee-wrapper {
  width: 100%;
  height: 37rem;
  position: relative;
  z-index: 10;
}

.marquee-track {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.marquee-list {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.marquee-item {
  width: 27rem;
  height: 19rem;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 2rem;
  display: flex;
}

/* CARD */
.testimonial-card {
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 1.5rem 1.5rem 1rem;
  background-color: #fff;
  border: 1px solid #d8d9da;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.testimonial-header {
  position: absolute;
  top: -7px;
  left: -9px;
  display: flex;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d8d9da;
  border-bottom: 0;
  border-right: 0;
  gap: 2rem;
}

.testimonial-stars img {
  width: 90px;
  margin-top: -7px;
}

.testimonial-user {
  font-family: Lato, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: #222;
}

.testimonial-media {
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimonial-image {
  width: 90%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 991px) {
  .testimonials-section {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonials-div {
    border-radius: 0;
  }

  .circle-small {
    width: 31rem;
    height: 31rem;
  }

  .circle-large {
    width: 50rem;
    height: 50rem;
  }

  .profile-wrap.is-5,
  .profile-wrap.is-6 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .testimonials-div {
    padding: 14rem 2rem 0;
  }
  
  .header-wrap {
    width: 23rem;
  }

  .circle-small {
    width: 30rem;
    height: 30rem;
  }

  .circle-large {
    width: 52rem;
    height: 52rem;
  }

  .marquee-wrapper {
    height: 38em;
    font-size: 0.7em;
  }

  .profile-wrap.is-3,
  .profile-wrap.is-2,
  .profile-wrap.is-5,
  .profile-wrap.is-6 {
    display: none;
  }

  .doti_bg.is-1 {
    width: 9vw;
    height: 9vw;
  }

  .doti_bg.is-3 {
    top: 8%;
    right: 21%;
  }
}

@media screen and (max-width: 479px) {
  .testimonials-div {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header-wrap {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    width: 100%;
  }

  .circle-small {
    width: 50rem;
    height: 50rem;
    margin-top: 22rem;
  }

  .circle-large {
    width: 46rem;
    height: 44rem;
    margin-top: 2rem;
  }

  .marquee-item {
    width: 20rem;
    height: 22rem;
  }
}
